################################################################################
# Required
################################################################################

# This can be mostly anything you want as long as it doesnt collide with another local image tag name
DOCKER_IMG_TAG =

# These can be generated at https://console.aws.amazon.com/iam/home#/security_credentials
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
# e.g. us-east-1 or us-west-2
AWS_REGION =
# NOTE(jpr): this has to be globally unique, and it will be part of the public url that gets used
AWS_S3_BUCKET_NAME =

# This is your hosting provider. Either amazonaws.com or digitaloceanspaces.com
HOST_PROVIDER = amazonaws.com
# For AWS use s3. For DigitalOcean use $(AWS_REGION)
HOST_REGION = s3
# HOST_REGION = $(AWS_REGION)

# These are your activision account credentials from my.callofduty.com
COD_API_USERNAME =
COD_API_PASSWORD =


################################################################################
# Optional
################################################################################

# NOTE(jpr): this is not needed, it is only for advanced AWS deployments
AWS_ECR_URL =
